include LICENSE
include CHANGES.txt
include README.md
recursive-include qarbon *.py *.ui *.png *.svg

graft doc
graft build/sphinx/html

global-exclude *.pyc
global-exclude .gitignore

exclude setup.cfg
exclude .project
exclude .pydevproject
exclude .ropeproject
exclude build*
exclude doc/_build